<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - AbcBolinhas</title>
    {% block style %}{% endblock %}
    <style>
        .important {
            color: #6495ED;
    }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.4.2-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/sweetalert2.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.icons') }}">
</head>



<body>
    {% block menu %}
<nav
  class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
  <div class="container" style="background-color: whitesmoke; border-radius: 5%; width: 100%;">
    <a class="navbar-brand text-black" href="{{ url_for('index.formIndex') }}" >
      Index
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav navbar-nav-hover mx-auto">
        <li class="nav-item px-3">
          <a class="nav-link text-black opacity-8" href="{{ url_for('funcionario.formListaFuncionario') }}">
            Funcionarios
          </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-black opacity-8" href="{{ url_for('cliente.formListaCliente') }}">
            Clientes
          </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-black opacity-8" href="{{ url_for('produto.formListaProduto') }}" style="color: black;">
            Produtos
          </a>
        </li>
    </div>
  </div>
</nav>
        <!-- <ul>
            <li><a href="{{ url_for('index.formIndex') }}" style="color: black;"><i class="fas fa-home" style="color: black;"></i> HOME</a></li>
            <li><a href="{{ url_for('funcionario.formListaFuncionario') }}" style="color: black;"><i class="fas fa-cart-arrow-down" style="color: black;"></i> FUNCIONÁRIOS</a></li>
            <li><a href="{{ url_for('cliente.formListaCliente') }}" style="color: black;"><i class="fas fa-users" style="color: black;"></i> CLIENTES</a></li>
            <li><a href="{{ url_for('produto.formListaProduto') }}" style="color: black;"><i class="fas fa-pizza-slice" style="color: black;"></i> PRODUTOS</a></li>
        </ul>    -->
{% endblock %}

<div class="container-fluid mt-3">
    {% block content %}{% endblock %}
    <br><br><br>
</div>

{% block footer %}
    <a href="{{ url_for('index.formIndex') }}" style="color: black;">&copy; 2023 by ViniVigarista</a>
    
{% endblock %}

    {% block js %}{% endblock %}
    <!-- monitorar log do navegador, pois a ordem interfere -->
    <script src="{{ url_for('static', filename='jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.maskedinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.4.2-web/js/all.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2/sweetalert2.all.min.js') }}"></script>

<!-- redirect - request.args.get('msg' ou 'msgErro') -->
{% if request.args.get('msg'): %}
<script>
Swal.fire("Sucesso", "{{ request.args.get('msg') }}", "success");
</script>
{% elif request.args.get('msgErro'): %}
<script>
Swal.fire("Erro", "{{ request.args.get('msgErro') }}", "error");
</script>
<!-- render_template - msg ou msgErro -->
{% elif msg: %}
<script>
Swal.fire("ID {{ msg.id }}, {{ msg.msg }} ", "{{ msg }}", "success");
</script>
{% elif msgErro: %}
<script>
Swal.fire("{{ msgErro.msg if msgErro.msg else 'Erro' }}", "{{ msgErro }}", "error");
</script>
{% endif %}
</body>



</html>
