{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Lista de Produto</title>

  <style>
    input {
      padding: 3px;
      border: 2px solid #ccc;
      transition: border-color 0.9s; /* Transição suave para a cor da borda */
    }

    /* Estilo para o campo quando está em foco */
    input:focus {
      border-color: rgb(26, 2, 82); /* Cor azul para a borda quando em foco */
      outline: none; /* Remove o contorno padrão que alguns navegadores aplicam */
      background-color: #f0f0f0; /* Cor de fundo quando em foco */
    }
  </style>

</head>
<body style="background-color: rgb(204, 242, 245);">
  <div class="container">
    <form action="{{ url_for('produto.formProduto') }}" method="POST">
      <h1 style="color: darkblue;">Produtos</h1>
      <button type="submit" name="formNovo" class="btn btn-primary">Novo Produto</button><br>
    </form>

    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th><br><br>         
          <th scope="col">Descrição</th><br><br>
          <th scope="col">Valor Unitário</th><br><br>
          <th scope="col">Foto</th>
          <th scope="col">Editar</th>

        </tr>
      </thead>
        <tbody>
          {% if result %}
          {% for row in result %}
          <tr>
            <th scope="row"> {{ row['id_produto'] }}</th>
            <td> {{ row['nome'] }}</td>
            <td> {{ row['descricao'] }}</td>
            <td> {{ row['valor_unitario'] }}</td>
            <td> {{ row['foto'] }}</td>
            <td>   
              <form action="{{ url_for('produto.formEditProduto') }}" method="POST" name="formEdit{{ row['id_produto'] }}">
                        <input type="hidden" name="id" value="{{ row['id_produto'] }}">
                        <button type="submit" name="formEditProduto"> <i class="fas fa-edit"></i></button>
              </form>                
            </td>  
            
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
    </table>
  </div>
</body>
</html>
{% endblock %}