{% extends "base.html" %}

{% block title %}Funcionários{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Lista de Funcionários</title>

  <style>
    input {
      padding: 3px;
      border: 2px solid #ccc;
      transition: border-color 0.9s; /* Transição suave para a cor da borda */
    }

    /* Estilo para o campo quando está em foco */
    input:focus {
      border-color: rgb(26, 2, 82); /* Cor azul para a borda quando em foco */
      outline: none; /* Remove o contorno padrão que alguns navegadores aplicam */
      background-color: #f0f0f0; /* Cor de fundo quando em foco */
    }
  </style>

</head>
<body style="background-color: rgb(134, 252, 134);">
  <div class="container">
    <form action="{{ url_for('funcionario.formFuncionario') }}" method="POST">
      <h1>Funcionários</h1>
      ID: <input type="codigo" name="codigo" id="" ><br><br>
      Nome: <input type="Nome"  required maxlength="100">
      Matricula: <input type="Matricula" name="Matricula" id="" ><br><br>
      CPF: <input type="CPF" name="CPF" id=""  maxlength="14" required>
      Telefone: <input type="Telefone" name="Telefone" id=""  maxlength="11"><br><br>
      Grupo: <input type="Grupo" name="Grupo" id="" >
      Senha: <input type="Senha" name="Senha" id="" required><br><br>
      <input type="button" value="Editar" class="btn btn-primary">
      <input type="button" value="Excluir" class="btn btn-primary"><br><br>
      <button type="submit" class="btn btn-primary" name="formNovo">Novo Funcionário</button>      
    </form>    

    <table>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Matricula</th><br><br>
          <th scope="col">CPF</th>
          <th scope="col">Telefone</th><br><br>
          <th scope="col">Grupo</th>
          <th scope="col">Senha</th><br><br>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th><br><br>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Nome Funcionário</td>
          <td>12345</td>
          <td>123.456.789-00</td>
          <td>(12) 3456-7890</td>
          <td>Atendente</td>
          <td>*****</td>
          <td><i class="fas fa-edit"></i></td>
          <td><i class="fas fa-trash"></i></td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>
    </table>
  </div>
</body>
</html>
{% endblock %}